doctype html
html
  head
    script(type='text/javascript' src='./js/jquery-3.1.1.min.js')
    script(type='text/javascript' src='./js/all.js')
    title JS fun
  body
    h1 JS
    ul.list
    input.msg
    br
    button(class='show-history') show history